{% extends 'base.html' %} {% block title %} Login {% endblock %} 
{% block content %} 
{% include 'partials/alert.html' %}
<div class="row">
  <div class="container">
    <div
      class="col-md-8 mt-3 mx-auto justify-content-center align-items-center"
    >
      <div class="m-5 shadow p-5 text-dark border border-dark rounded">
        <h1>Password Reset</h1>
        <p>Please, use the following form to Password Reset:</p>

        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <p>
            <input
              class="btn btn-secondary btn-lg"
              type="submit"
              value="ResetPassword"
            />
          </p>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
